<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Covid-19</title>




</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

{%extends 'base.html' %}
{% load static %}
{% block mycontent %}


<div class="container">

    <div class="row">
        <div class="col-md-6">
            <div class="card text-white bg-secondary mb-3">
                <h5 class="card-header"><b><u>Description</u></b></h5>
                <div class="card-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{%static 'assets/img/g1.jpg'%}" class="d-block w-100 card-img-top"
                                     style="height:350px" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{%static 'assets/img/g2.jpg'%}" class="d-block w-100 card-img-top"
                                     style="height:350px" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{%static 'assets/img/g4.jpg'%}" class="d-block w-100 card-img-top"
                                     style="height:350px" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                    <h5 class="card-title mt-2">COVID-19 PANDEMIC</h5>
                    <p class="card-text-center">The corona virus pandemic which initially reported from China in
                        late December in 2019, started spreading around the world so fast in the beginning of the
                        2020. The first corona virus infected person in Sri Lanka was reported on 27th January
                        2020.</br>
                        The pandemic directly effects badly not only health but all areas, mainly economy and education
                        in the country. Therefore, managing the spread of virus in the country is very essential. In
                        order to
                        face and manage the situation, the best decisions has to be made, so an occurrence of another
                        wave
                        can be prevented. Gathering all the necessary data and representing them and providing valuable
                        information in one place would make the process of necessary decision making much easier.
                        With Covid-19 Pandemic Analytic Dashboard and Management System,</br> our main aim is to
                        provide that and being beneficial to many related parties not only the general public.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            {%for title,description,image,url,publish in icon%}
            <div class="card text-white bg-secondary mb-3">
                {% if image is None %}
                <img src="{% static 'assets/img/deafult.jpg' %}" style="height:250px">
                {% else %}
                <img src="{{image}}" alt="image">
                {% endif %}
                <div class="card-body">
                    <h4 class="card-text">{{title}}</h4>
                    <p class="card-text"> {{description}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary me-md-3"><a href="{{url}}"
                                                                                     class="btn btn-primary stretched-link">View
                                more</a></button>
                            <button type="button" class="btn btn-primary"><a href="{%url 'news'%}"
                                                                             class="btn btn-primary stretched-link"><b>NEWS
                                FEED</b></a></button>
                        </div>
                        <small class="text-muted">{{publish}}</small>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

</body>
</html>