<!DOCTYPE html>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous">

<title>Covid-19</title>
</head>
<body>


{%extends 'base2.html' %}
{% load static %}
{% block mycontent %}
<div class="mt-5">
    <div class="container pt-5 ">
        <div class="px-3 text-center">

            <h1 style="color:#6600cc" class="display-5 fw-bold">Covid-19 Health guidelines</h1>
            <i>developed by uoc fos team</i>
        </div>

    </div>
    <!-- ------------------------------- --begin from here ------------------------------------------ -->
    <div class="container">

        <!-- up description -->
        <section id="blog-grid" class="mt-5 mb-5 shadow" style="background-color:#d9d9d9;"><!-- sec1 -- -->
            <div class="row">
                <div class="col-lg-12 more-covid pt-1 pb-1">
                    <div class="section-title color-two text-center pb-3 mb-3 m-5">
                        <h3 class="sub-title wow pixFadeUp"
                            style="font-family:cursive; font-weight:800; font-size:40px;color:green;">Symptoms</h3>

                    </div>
                </div>


                <div class="col-lg-12 p-5 pt-0">                             <!-- guidline -->
                    <div class="card mb-3 text-dark shadow" style="background-color:#80bfff">
                        <div class="row g-0 shadow">
                            <div class="col-md-4">
                                <img src="{%static 'assets/img/n2.jpg'%}" class="img-fluid rounded-start shadow"
                                     alt="...">
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <h1 class="card-title text-center"><b>If you think you are sick?</b></h1>
                                    <div class="col-md-12 text-center mt-2 mb-3">
                                        <div class="col text-center mt-4">
                                            <button type="button" class="btn btn-outline-success"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#collapseExample" aria-expanded="false"
                                                    aria-controls="collapseExample">
                                                <b style="font-size:30px">Yes.I have sick.</b></button>
                                        </div>
                                    </div>
                                    <div class="collapse" id="collapseExample">
                                        <div class="card card-body mb-3 text-dark"
                                             style="background-color:#f5e6ff;">
                                            <h5><u>These are the most common symptoms of COVID-19. Some people become
                                                infected but don’t develop any symptoms and don't feel unwell.
                                            </u>
                                            </h5>
                                            <img src="{%static 'assets/img/n3.jpg'%}">

                                            Having these symptoms doesn’t mean you have COVID-19. However, since
                                            these
                                            are common symptoms of the COVID-19 infection, for the sake of those
                                            close
                                            to you, please follow the measures mentioned below. Understand that this
                                            is
                                            part of your national responsibility.

                                            Do not leave home for any reason other than seeking medical advice.

                                            If possible, use a separate room for yourself.

                                            Always keep a distance of at least one meter between yourself and others
                                            at
                                            home.

                                            If possible, use a separate washroom. If this is not possible, always
                                            wash
                                            the taps, doorknobs etc. after use with soap and water.

                                            Do not encourage visitors to the house.

                                            Frequently wash your hands for at least 20 seconds with soap and water.
                                            Ask
                                            your family members to do the same.

                                            Use separate cups, plates, towels, bedspreads etc. Wash them separately
                                            with
                                            soap and water.

                                            Cover your mouth and nose with a disposable tissue or the inside of your
                                            elbow when coughing and sneezing. Safely dispose of the used tissues.

                                            Do not reuse face masks and gloves etc. Dispose them in a garbage bin
                                            with a
                                            lid.

                                            If you have returned from abroad or associated someone who has COVID-19
                                            or
                                            someone suspected of being infected within the past 14 days, immediately
                                            report to the Public Health Inspector (PHI) or the Medical Officer of
                                            Health
                                            (MOH) of your area.

                                            Call 1999 hotline for medical and other advice regarding Covid-19.

                                            Call 1990 for ambulance facilities in case of an emergency.

                                            A person with above symptoms,
                                            who has
                                            returned to Sri Lanka from ANY COUNTRY within the last 14 days

                                            or
                                            having close-contact with a confirmed or suspected COVID-19 patient
                                            during
                                            the last 14 days prior to onset of symptoms

                                            or
                                            with severe acute pneumonia regardless of travel or contact history as
                                            decided by the treating Consultant

                                            are advised to seek medical advice from the nearest Government Hospital
                                            immediately.
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>                           <!-- guidline -->
                <div class="col-lg-12 more-covid pt-1 ">
                    <div class="section-title color-two text-center pb-1 mb-3">
                        <h3 class="sub-title wow pixFadeUp"
                            style="font-family:cursive; font-weight:800; font-size:40px;color:green;">Quarantine</h3>

                    </div>
                </div>
                <div class="col-lg-12 p-5 pt-0">                             <!-- guidline -->
                    <div class="card mb-3 text-dark bg-warning shadow ">
                        <div class="row g-0 shadow">
                            <div class="col-md-4">
                                <img src="{%static 'assets/img/n4.jpg'%}" class="img-fluid rounded-start shadow"
                                     alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h1 class="card-title text-center"><b>Self-Quarantine / Home Quarantine</b></h1>
                                    <div class="col-md-12 text-center mt-2 mb-3">
                                        <b>What are the Measures to be taken in Home quarantining / Self
                                            quarantining?</b>
                                        <div class="col text-center mt-4">
                                            <button type="button" class="btn btn-outline-success"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#collapseExample2" aria-expanded="false"
                                                    aria-controls="collapseExample2">
                                                <b style="font-size:30px">Find out more</b></button>
                                        </div>
                                    </div>
                                    <div class="collapse" id="collapseExample2">
                                        <div class="card card-body mb-3 text-dark"
                                             style="background-color:#f5e6ff;">
                                            <h5><u>These are the most common symptoms of COVID-19. Some people become
                                                infected but don’t develop any symptoms and don't feel unwell.
                                            </u>
                                            </h5>
                                            <img src="{%static 'assets/img/n5.jpg'%}">

                                            What is Home quarantining / Self quarantining ?

                                            “Home quarantining” refers to keeping visibly healthy, possible high-risk
                                            contacts separately at non-health care settings..

                                            Who should be Home quarantined / Self quarantined ?

                                            A person who have returned to Sri Lanka from overseas with in the last 14
                                            days
                                            A person who had maintained close contact with a suspected or diagnosed case
                                            of COVID- 19 with in last 14 days

                                            Measures to be taken in Home quarantining / Self quarantining

                                            <ul class="text-start mt-1">
                                                <li> • Have a separate room allocated for you if possible.</li>
                                                • Maintain a minimum distance of one meter between you and family</li>
                                                members.</li>
                                                <li>• Use a separate bathroom if possible. If you have to share a
                                                    bathroom
                                                    make
                                                    sure you wash doorknobs, taps, etc with soap and water.
                                                </li>
                                                <li>• Do not encourage visitors.</li>
                                                <li>• You, as well as others at home, must wash hands frequently and
                                                    thoroughly
                                                    (for at least 20 seconds)
                                                </li>
                                                <li>• Do not share plates, cups, glasses, towels and bedsheets. Wash
                                                    yours
                                                    separately with soap and water.
                                                </li>
                                                <li>• Always cover your mouth with a disposable tissue or the inside of
                                                    your
                                                    elbow while sneezing or coughing. Dispose used tissues securely into
                                                    a
                                                    garbage bin with a lid.
                                                </li>
                                                <li>• Dispose of all facemasks and gloves you used securely into a
                                                    garbage
                                                    bin
                                                    with a lid
                                                </li>
                                                <li>• Avoid touching eyes, nose and mouth with unwashed hands.</li>
                                                <li>• Monitor your body temperature by measuring it at least twice a
                                                    day.
                                                </li>
                                                <li>• If you develop any flu-like symptoms such as fever, cough, sore
                                                    throat,
                                                    body aches and difficulty in breathing immediately to the Public
                                                    Health
                                                    Inspector and/or the Medical Officer.
                                                </li>
                                                <li>• Contact the Suwaseriya Ambulance service through 1990 to arrange
                                                    transport
                                                    to the nearest designated hospital.
                                                </li>
                                            </ul>

                                            Source – Epidemiology Unit / Ministry of Health
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>                           <!-- guidline -->

                <div class="col-lg-12 more-covid pt-1 ">
                    <div class="section-title color-two text-center pb-1 mb-3">
                        <h3 class="sub-title wow pixFadeUp"
                            style="font-family:cursive; font-weight:800; font-size:40px;color:green;">How to protect
                            yourself and others ?</h3>

                    </div>
                </div>


                <div class="col-lg-12 p-5 pt-1">                             <!-- guidline -->
                    <div class="card mb-3 text-dark" style="background-color: #ff99bb;">
                        <div class="row g-0 shadow">
                            <div class="col-md-4">
                                <img src="{%static 'assets/img/n7.jpg'%}" class="img-fluid rounded-start shadow"
                                     alt="...">
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <h1 class="card-title text-center"><b>Basic Preventive measures</b></h1>
                                    <div class="col-md-12 text-center mt-2 mb-3">
                                        <div class="col text-center mt-4">
                                            <button type="button" class="btn btn-outline-success"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#collapseExample3" aria-expanded="false"
                                                    aria-controls="collapseExample3">
                                                <b style="font-size:30px">Read more about</b></button>
                                        </div>
                                    </div>
                                    <div class="collapse" id="collapseExample3">
                                        <div class="card card-body mb-3 text-dark"
                                             style="background-color:#f5e6ff;">
                                            <h5>COVID-19 Prevention Methods
                                            </h5>
                                            <img src="{%static 'assets/img/n6.jpg'%}">

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>                           <!-- guidline -->


                <div class="col-lg-12 p-5 pt-0">                             <!-- guidline -->
                    <div class="card mb-3 text-dark shadow" style="background-color: #ff99bb;">
                        <div class="row g-0 shadow">
                            <div class="col-md-4">
                                <img src="{%static 'assets/img/n8.jpg'%}" class="img-fluid rounded-start shadow"
                                     alt="..." width="600px">
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <h1 class="card-title text-center"><b>Prevention at Workplace</b></h1>
                                    <div class="col-md-12 text-center mt-2 mb-3">
                                        <div class="col text-center mt-4">
                                            <button type="button" class="btn btn-outline-success"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#collapseExample4" aria-expanded="false"
                                                    aria-controls="collapseExample4">
                                                <b style="font-size:30px">Read more about</b></button>
                                        </div>
                                    </div>
                                    <div class="collapse" id="collapseExample4">
                                        <div class="card card-body mb-3 text-dark"
                                             style="background-color:#f5e6ff;">
                                            <h5>MEASURES TO BE TAKEN AT WORKPLACE TO PREVENT COVID-19
                                            </h5>
                                            <img src="{%static 'assets/img/n9.jpg'%}">

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>                           <!-- guidline -->


                <div class="col-lg-12 p-5 pt-0">                             <!-- guidline -->
                    <div class="card mb-3 text-dark  shadow " style="background-color: #ff99bb">
                        <div class="row g-0 shadow">
                            <div class="col-md-4">
                                <img src="{%static 'assets/img/n10.jpg'%}" class="img-fluid rounded-start shadow"
                                     alt="..." width="600px">
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <h1 class="card-title text-center"><b>Prevention at Market Place</b></h1>
                                    <div class="col-md-12 text-center mt-2 mb-3">
                                        <div class="col text-center mt-4">
                                            <button type="button" class="btn btn-outline-success"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#collapseExample5" aria-expanded="false"
                                                    aria-controls="collapseExample5">
                                                <b style="font-size:30px">Read more about</b></button>
                                        </div>
                                    </div>
                                    <div class="collapse" id="collapseExample5">
                                        <div class="card card-body mb-3 text-dark"
                                             style="background-color:#f5e6ff;">
                                            <h5>MEASURES TO BE TAKEN AT MARKET PLACE TO PREVENT COVID-19
                                            </h5>
                                            <img src="{%static 'assets/img/n11.jpg'%}">

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>                           <!-- guidline -->


                <div class="col-lg-12 more-covid pt-1 ">
                    <div class="section-title color-two text-center pb-1 mb-1">
                        <h3 class="sub-title wow pixFadeUp"
                            style="font-family:cursive; font-weight:800; font-size:40px;color:green;">Advices for people
                            with special health needs</h3>

                    </div>
                </div>

                <div class="col-lg-12 p-5 pt-0">                             <!-- guidline -->
                    <div class="card mb-3 text-dark  shadow " style="background-color:#b3e6cc;">
                        <div class="row g-0 shadow">
                            <div class="col-md-4">
                                <img src="{%static 'assets/img/n15.png'%}" class="img-fluid rounded-start shadow"
                                     alt="..." width="600px">
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <h1 class="card-title text-center"><b>Pregnant Mothers</b></h1>
                                    <div class="col-md-12 text-center mt-2 mb-3">
                                        <div class="col text-center mt-4">
                                            <button type="button" class="btn btn-outline-success"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#collapseExample6" aria-expanded="false"
                                                    aria-controls="collapseExample6">
                                                <b style="font-size:30px">Read more about</b></button>
                                        </div>
                                    </div>
                                    <div class="collapse" id="collapseExample6">
                                        <div class="card card-body mb-3 text-dark"
                                             style="background-color:#f5e6ff;">
                                            <h5>ADVICE FOR PREGNANT WOMEN DURING THE COVID-19 CORONAVIRUS OUTBREAK
                                            </h5>
                                            <img src="{%static 'assets/img/n13.jpeg'%}">

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>                           <!-- guidline -->

                <div class="col-lg-12 p-5 pt-1">                             <!-- guidline -->
                    <div class="card mb-3 text-dark  shadow" style="background-color:#b3e6cc;">
                        <div class="row g-0 shadow">
                            <div class="col-md-4">
                                <img src="{%static 'assets/img/n17.jpg'%}" class="img-fluid rounded-start shadow"
                                     alt="..." width="600px">
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <h1 class="card-title text-center"><b>Cancer Patients</b></h1>
                                    <div class="col-md-12 text-center mt-2 mb-3">
                                        <div class="col text-center mt-4">
                                            <button type="button" class="btn btn-outline-success"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#collapseExample7" aria-expanded="false"
                                                    aria-controls="collapseExample7">
                                                <b style="font-size:30px">Read more about</b></button>
                                        </div>
                                    </div>
                                    <div class="collapse" id="collapseExample7">
                                        <div class="card card-body mb-3 text-dark"
                                             style="background-color:#f5e6ff;">
                                            <h5>
                                                ADVICES FOR CANCER PATIENTS DURING COVID-19 OUTBREAK
                                            </h5>
                                            <img src="{%static 'assets/img/n16.jpg'%}">

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>                           <!-- guidline -->

                <div class="col-lg-12 p-5 p-1">                             <!-- guidline -->
                    <div class="card mb-3 text-dark  shadow " style="background-color:#b3e6cc;">
                        <div class="row g-0 shadow">
                            <div class="col-md-4">
                                <img src="{%static 'assets/img/n12.jpg'%}" class="img-fluid rounded-start shadow"
                                     alt="...">
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <h1 class="card-title text-center"><b> Patients on treatment for Non-communicable
                                        diseases</b></h1>
                                    <div class="col-md-12 text-center mt-2 mb-3">
                                        <div class="col text-center mt-4">
                                            <button type="button" class="btn btn-outline-success"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#collapseExample8" aria-expanded="false"
                                                    aria-controls="collapseExample8">
                                                <b style="font-size:30px">Read more about</b></button>
                                        </div>
                                    </div>
                                    <div class="collapse" id="collapseExample8">
                                        <div class="card card-body mb-3 text-dark"
                                             style="background-color:#f5e6ff;">
                                            <h5>ADVICE FOR PATIENTS ON TREATMENT FOR NON-COMMUNICABLE DISEASES DURING
                                                COVID-19 OUTBREAK
                                            </h5>
                                            <img src="{%static 'assets/img/n18.jpg'%}">

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>                           <!-- guidline -->


            </div>
        </section><!-- sec1 -- -->


        <!-- ---------------------------------------end here ------------------------------------------------------------------- -->

    </div><!-- container -->
    <!-- ------------------------------------------------------------------------------------ --->
</div>
</main>


{%endblock%}
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</html>
