<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Covid-19</title>
</head>
{%extends 'base2.html' %}
{% load static %}
{% block mycontent %}
<main>

    <div class="album py-5 bg-light">
        <div class="container">
            <section id="blog-grid" class="mt-5">
                <div class="section-title color-two text-center mt-5">
                    <h3 class="sub-title wow pixFadeUp"
                        style="font-family:cursive; font-weight:800; font-size:40px;color:green;"> Local News
                        &amp; Events</h3>
                    <h2 class="title wow pixFadeUp" data-wow-delay="0.3s"
                        style="font-family:cursive; font-weight:800; font-size:20px;color:green;"><i>
                        <b>STAY HOME STAY SAFE</b></i></h2>
                </div>
                <!-- calendar -->


                <div class="row more-news-section mt-5">

                    <div class="col-lg-4 col-md-6 ">
                        <div class="card shadow p-3 mb-5 bg-body rounded" style="height:550px">
                            <img src="https://hpb.health.gov.lk/news_images/1626353072.jpg">
                            <div class="card-body">
                                <ul class="post-meta">
                                    <li>2021-07-15</li>
                                </ul>
                                <h4 class="card-title"> Know about Covid 19 vaccines</h4>
                                <p class="card-text">Click to more information</p>
                                <a href="https://www.hpb.health.gov.lk/en/news-single/22" class="btn btn-primary">Read
                                    More</a>
                            </div>
                        </div>
                    </div><!-- /.col-lg-4 col-md-6 -->
                    <div class="col-lg-4 col-md-6 ">
                        <div class="card shadow p-3 mb-5 bg-body rounded" style="height:550px">
                            <img src="https://www.hpb.health.gov.lk/news_images/1620814375.jpg">
                            <div class="card-body">
                                <ul class="post-meta">
                                    <li>2021-05-12</li>
                                </ul>
                                <h4 class="card-title"> Educational Videos</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up
                                    the bulk of the card's content.</p>
                                <a href="https://www.hpb.health.gov.lk/en/news-single/19" class="btn btn-primary">Read
                                    More</a>
                            </div>
                        </div>
                    </div><!-- /.col-lg-4 col-md-6 -->
                    <div class="col-lg-4 col-md-6 ">
                        <div class="card shadow p-3 mb-5 bg-body rounded" style="height:550px">
                            <img src="https://www.hpb.health.gov.lk/news_images/1620793496.jpg">
                            <div class="card-body">
                                <ul class="post-meta">
                                    <li>2021-05-11</li>
                                </ul>
                                <h4 class="card-title"> Lets stay safe</h4>
                                <p class="card-text">Click to more information.</p>
                                <a href="https://www.hpb.health.gov.lk/en/news-single/17" class="btn btn-primary">Read
                                    More</a>
                            </div>
                        </div>
                    </div><!-- /.col-lg-4 col-md-6 -->
                    <div class="col-lg-4 col-md-6 ">
                        <div class="card shadow p-3 mb-5 bg-body rounded" style="height:550px">
                            <img src="https://hpb.health.gov.lk/news_images/1610069257.jpg">
                            <div class="card-body">
                                <ul class="post-meta">
                                    <li>2021-01-05</li>
                                </ul>
                                <h4 class="card-title"> Online training program on the introduction and establishment of "Health
                            Promotion Hospitals</h4>
                                <p class="card-text">Click to more information.</p>
                                <a href="https://www.hpb.health.gov.lk/en/news-single/14" class="btn btn-primary">Read
                                    More</a>
                            </div>
                        </div>
                    </div><!-- /.col-lg-4 col-md-6 -->
                    <div class="col-lg-4 col-md-6 ">
                        <div class="card shadow p-3 mb-5 bg-body rounded" style="height:550px">
                            <img src="https://hpb.health.gov.lk/news_images/1610067875.jpg">
                            <div class="card-body">
                                <ul class="post-meta">
                                    <li>2021-01-07</li>
                                </ul>
                                <h4 class="card-title"> Programme on managing emotions and communication in COVID 19
                            situation</h4>
                                <p class="card-text">Click to more information.</p>
                                <a href="https://www.hpb.health.gov.lk/en/news-single/13" class="btn btn-primary">Read
                                    More</a>
                            </div>
                        </div>
                    </div><!-- /.col-lg-4 col-md-6 -->
                    <div class="col-lg-4 col-md-6 ">
                        <div class="card shadow p-3 mb-5 bg-body rounded" style="height:550px">
                            <img src="https://hpb.health.gov.lk/news_images/1589255332.jpeg">
                            <div class="card-body">
                                <ul class="post-meta">
                                    <li>2021-05-01</li>
                                </ul>
                                <h4 class="card-title"> Combat COVID-19 With a New Style of Life</h4>
                                <p class="card-text">Click to more information.</p>
                                <a href="https://www.hpb.health.gov.lk/en/news-single/10" class="btn btn-primary">Read
                                    More</a>
                            </div>
                        </div>
                    </div><!-- /.col-lg-4 col-md-6 -->
                    <div class="col-lg-4 col-md-6 ">
                        <div class="card shadow p-3 mb-5 bg-body rounded" style="height:550px">
                            <img src="https://hpb.health.gov.lk/news_images/1586693267.jpg">
                            <div class="card-body">
                                <ul class="post-meta">
                                    <li>12th April 2020</li>
                                </ul>
                                <h4 class="card-title"> To all the Heroes in COVID-19 frontline</h4>
                                <p class="card-text">Click to more information.</p>
                                <a href="https://www.hpb.health.gov.lk/en/news-single/7" class="btn btn-primary">Read
                                    More</a>
                            </div>
                        </div>
                    </div><!-- /.col-lg-4 col-md-6 -->
                      <div class="col-lg-4 col-md-6 ">
                        <div class="card shadow p-3 mb-5 bg-body rounded" style="height:550px">
                            <img src="https://hpb.health.gov.lk/news_images/1586693171.jpg">
                            <div class="card-body">
                                <ul class="post-meta">
                                    <li>10th April 2020</li>
                                </ul>
                                <h4 class="card-title">Hotline numbers to be contacted by a Kidney Disease patient followed up
                            at Renal Clinics in State ho </h4>
                                <p class="card-text">click to view more</p>
                                <a href="https://www.hpb.health.gov.lk/en/news-single/6" class="btn btn-primary">Read
                                    More</a>
                            </div>
                        </div>
                     </div><!-- /.col-lg-4 col-md-6 -->
                      <div class="col-lg-4 col-md-6 ">
                        <div class="card shadow p-3 mb-5 bg-body rounded" style="height:550px">
                            <img src="https://hpb.health.gov.lk/news_images/1586447724.jpg">
                            <div class="card-body">
                                <ul class="post-meta">
                                    <li>8th April 2020</li>
                                </ul>
                                <h4 class="card-title">Contact your Mental Health Unit </h4>
                                <p class="card-text">click to view more</p>
                                <a href="https://www.hpb.health.gov.lk/en/news-single/4" class="btn btn-primary">Read
                                    More</a>
                            </div>
                        </div>
                    </div><!-- /.col-lg-4 col-md-6 -->
                      <div class="col-lg-4 col-md-6 ">
                        <div class="card shadow p-3 mb-5 bg-body rounded" style="height:550px">
                            <img src="https://www.hpb.health.gov.lk/news_images/1585986059.jpg">
                            <div class="card-body">
                                <ul class="post-meta">
                                    <li>2nd April 2020</li>
                                </ul>
                                <h4 class="card-title">Media Notice on delivery of Pharmaceuticals to door step </h4>
                                <p class="card-text">click to view more</p>
                                <a href="https://www.hpb.health.gov.lk/en/news-single/3" class="btn btn-primary">Read
                                    More</a>
                            </div>
                        </div>
                    </div><!-- /.col-lg-4 col-md-6 -->
                      <div class="col-lg-4 col-md-6 ">
                        <div class="card shadow p-3 mb-5 bg-body rounded" style="height:550px">
                            <img src="https://www.hpb.health.gov.lk/news_images/1585985911.jpg">
                            <div class="card-body">
                                <ul class="post-meta">
                                    <li>2nd April 2020</li>
                                </ul>
                                <h4 class="card-title">Ministry of Health notice to patients with Non Communicable diseases </h4>
                                <p class="card-text">click to view more</p>
                                <a href="https://www.hpb.health.gov.lk/en/news-single/2" class="btn btn-primary">Read
                                    More</a>
                            </div>
                        </div>
                    </div><!-- /.col-lg-4 col-md-6 -->
                      <div class="col-lg-4 col-md-6 ">
                        <div class="card shadow p-3 mb-5 bg-body rounded" style="height:550px">
                            <img src="https://www.hpb.health.gov.lk/news_images/1585985707.jpg">
                            <div class="card-body">
                                <ul class="post-meta">
                                    <li>2nd April 2020</li>
                                </ul>
                                <h4 class="card-title">If you develop chest pain suggestive of heart attack during COVID-19
                            Outbreak </h4>
                                <p class="card-text">click to view more</p>
                                <a href="https://www.hpb.health.gov.lk/en/news-single/1" class="btn btn-primary">Read
                                    More</a>
                            </div>
                        </div>
                    </div><!-- /.col-lg-4 col-md-6 -->







                </div><!-- /.row -->
            </section>

        </div>
    </div>
</main>
{%endblock%}
</html>